@media all and (min-width:48em){

#wrap {
 width:95%;
}
}
@media screen and (min-width: 80em) {

  html {
    -webkit-text-size-adjust: none;
  }

  nav a {
    font-size: 90%;
    padding: 10px 8px;
  }

}

nav {
  width: 100%;
  background-color:#2EFE2E;
  height:4em;
  overflow: auto;
  margin:0;
  padding:0;
  border:0;
  background-size:100%, 100%, auto;
  top:0;
  z-index:99999;

}
ul{
    display: inline-block;
    padding-right: 5em;
    padding-top:1em;
}
a{
    color:white;
    text-decoration: none;
}
li{
    width:80%;  
  }
a:hover{
  text-decoration: underline;
}  
}

h1 {
  padding-top:15em;
}

body, div {
  background-color:#58FAF4; 
  font-family: 'Press Start 2P', cursive;
}

#wrap {
  width:80em;
  text-align: center;
  padding-left: 3em;
  padding-right: 3em;
  margin:0 auto;
}
.start-playing{
  padding-top: 2em;
} 

.intro,.features,.start-playing,p{
margin: 5em;
}